<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Éditer Utilisateur</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h1 class="mt-4 mb-4">Éditer Utilisateur</h1>
  <a th:href="@{/admin/accueil}" class="btn btn-secondary">Accueil</a>
  <a th:href="@{/admin/nouveau_utilisateur}" class="btn btn-secondary">Nouveau utilisateur</a>
  <a th:href="@{/admin/utilisateurs_desactives}" class="btn btn-secondary">Utilisateurs désactivés</a>
  <form th:action="@{/admin/edit}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}">
    <div class="form-group">
      <label for="lastName">LastName</label>
      <input type="text" class="form-control" id="lastName" th:field="*{lastName}" required>
    </div>
    <div class="form-group">
      <label for="firstName">FirstName</label>
      <input type="text" class="form-control" id="firstName" th:field="*{firstName}" required>
    </div>
    <div class="form-group">
      <label for="email">Adresse e-mail</label>
      <input type="email" class="form-control" id="email" th:field="*{mail}" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
    </div>
    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="password" class="form-control" id="password" th:field="*{password}">
    </div>
    <div class="form-group">
      <label for="admin">Admin</label>
      <input type="checkbox" class="form-control" id="admin" th:field="*{admin}">
    </div>
    <div id="errorMessage" class="alert alert-danger" style="display: none;"></div>
    <button type="submit" class="btn btn-primary">Enregistrer</button>
  </form>
</div>
</body>
</html>

<script>
  document.querySelector('form').addEventListener('submit', function(event) {
    const password = document.getElementById('password').value;
    const errorMessageDiv = document.getElementById('errorMessage');

    // Check if the password meets the criteria
    const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/;
    if (!passwordRegex.test(password)) {
      // If the password doesn't meet the criteria, display an error message and prevent the form from being submitted
      errorMessageDiv.textContent = 'Le mot de passe doit contenir au moins un caractère en majuscule, un caractère en minuscule, un chiffre et avoir au moins 8 caractères.';
      errorMessageDiv.style.display = 'block';
      event.preventDefault();
    } else {
      // If the password meets the criteria, clear any previous error message
      errorMessageDiv.textContent = '';
      errorMessageDiv.style.display = 'none';
    }
  });
</script>
