<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Mes invitations</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h1 class="mt-4 mb-4">Mes invitations</h1>
  <div class="d-flex justify-content-between mb-3">
    <div>
      <a href="accueil.html" class="btn btn-primary">Accueil</a>
      <a href="mes_chats.html" class="btn btn-secondary">Mes chats</a>
    </div>
  </div>
  <div>
    <h2>Liste des invitations</h2>
    <ul class="list-group">
      <!-- Utilisez Thymeleaf pour générer des éléments de liste à partir de vos données -->
      <li class="list-group-item">
        <a href="chat_page.html">Chat 1</a>
      </li>
      <li class="list-group-item">
        <a href="chat_page.html">Chat 2</a>
      </li>
    </ul>
  </div>
</div>
</body>
</html>
